<?xml version="1.0"?>
<config>
	<modules>
		<InverseParadox_Banners>
			<version>0.2.0</version>
		</InverseParadox_Banners>
	</modules>
	<global>
		<helpers>
			<ipbanners>
				<class>InverseParadox_Banners_Helper</class>
			</ipbanners>
		</helpers>
		<blocks>
			<ipbanners>
				<class>InverseParadox_Banners_Block</class>
			</ipbanners>
		</blocks>
		<models>
			<ipbanners>
				<class>InverseParadox_Banners_Model</class>
				<resourceModel>ipbanners_mysql4</resourceModel>
			</ipbanners>
			<ipbanners_mysql4>
				<class>InverseParadox_Banners_Model_Mysql4</class>
				<entities>
					<banner>
						<table>ipbanners_banner</table>
					</banner>
					<group>
						<table>ipbanners_group</table>
					</group>
				</entities>
			</ipbanners_mysql4>
		</models>
		<resources>
			<ipbanners_setup>
				<setup>
					<module>InverseParadox_Banners</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ipbanners_setup>
			<ipbanners_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ipbanners_read>
			<ipbanners_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ipbanners_write>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<ipbanners>
					<file>ipbanners.xml</file>
				</ipbanners>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<InverseParadox_Banners after="Mage_Adminhtml">InverseParadox_Banners_Adminhtml</InverseParadox_Banners>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<ipbanners>
					<file>ipbanners.xml</file>
				</ipbanners>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<ipbanners>
			<settings>
				<enabled>1</enabled>
			</settings>
		</ipbanners>
	</default>
</config>